<% content_for :page_title do %>
  <title>ArtistNXT | Change My Password</title>
<% end %>
<div class="contenttitle_area">
        <h2 class="logintitle2">Change My Password</h2>
</div>

<%@mobile_device_class=""%>
<%= render :partial => 'profile/index_left' %>
<div class="rightpartWrap col-md-10"> <!-- rightpartWrap start -->
        <div class="rightPart clearfix"> <!-- rightPart start -->
                <div class="contentCol col-md-9"> <!-- contentCol start -->
                        <div class="content">
                          <%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
              
                                <% if @user.errors.any? %>
                                <div id="error_explanation">
                                  <h2><%= pluralize(@user.errors.count, "error") %> prohibited from being saved:</h2>
                            
                                  <ul>
                                  <% @user.errors.full_messages.each do |msg| %>
                                    <li><%= msg %></li>
                                  <% end %>
                                  </ul>
                                </div>
                              <% end %>
							  <div class="uploadimageWrap">
                                <div class="inputwrap_upload clearfix">
                                  <%= f.label :current_password, "Old Password" %>
                                  <%= f.password_field :current_password, class: "form-control required" %>
                                </div>
                                
                                <div class="inputwrap_upload clearfix">
                                  <%= f.label :password, "New Password" %>
                                  <%= f.password_field :password,:autocomplete => "off", class: "form-control required" %>
                                </div>
                                
                                <div class="inputwrap_upload clearfix">
                                  <%= f.label :password_confirmation, "Confirm Password" %>
                                  <%= f.password_field :password_confirmation,:autocomplete => "off", class: "form-control required" %>
                                </div>
                                <input type="submit" value="Submit" class="submit btn">                                
                              </div>  
                          <% end %>
                        </div>
                </div> <!-- contentCol end -->
                <%= render :partial => 'profile/index_right' %>
        </div> <!-- rightPart end -->
</div> <!-- rightpartWrap end -->
<%@mobile_device_class=" mobile_device"%>
<%= render :partial => 'profile/index_left' %>