<%= form_for(@order_item) do |f| %>
  <% if @order_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_item.errors.count, "error") %> prohibited this order_item from being saved:</h2>

      <ul>
      <% @order_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.number_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :product_name %><br>
    <%= f.text_field :product_name %>
  </div>
  <div class="field">
    <%= f.label :product_quantity %><br>
    <%= f.number_field :product_quantity %>
  </div>
  <div class="field">
    <%= f.label :product_item_price %><br>
    <%= f.text_field :product_item_price %>
  </div>
  <div class="field">
    <%= f.label :product_tax %><br>
    <%= f.text_field :product_tax %>
  </div>
  <div class="field">
    <%= f.label :product_final_price %><br>
    <%= f.text_field :product_final_price %>
  </div>
  <div class="field">
    <%= f.label :order_status %><br>
    <%= f.number_field :order_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
